.container {
  margin: 0 auto;
  text-align: center;
  border: 2px solid #333;
  box-shadow: 10px 10px 5px #ccc;
  border-radius: 4px;
}

.container h2 {
  color: magenta;
  background-color: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container h2:hover {
  background-color: brown;
  color: aqua;
}

.container h2 a {
  text-decoration: none;
  color: red;
}

.container p {
  font-size: 2rem;
  border: 1px solid cyan;
  border-radius: 12px;
  margin: 10px;
}

.footer {
  background-color: cadetblue;
  color: blue;
  margin: 15px;
}